include *.rst
include CONTRIBUTORS
include LICENSE
include tox.ini
include requirements*.txt
include *.yml
include *.yaml
include *.sh
include moneyed/py.typed
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-exclude tests *.py
recursive-exclude tests *.yaml
